@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
body {
    background-image: url(desaininteraksi.jpg);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
}

.head {
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    color: red;
    align-items: center;
    font-family: 'Nova Square', cursive;
}

.menu {
    justify-content: space-between;
}

h1 {
    padding-top: 4rem;
}

.btn {
    font-size: 2.4rem;
    margin: 1.5rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: linear-gradient(80deg, rgb(230, 19, 19) 0%, rgb(255, 0, 0) 100%);
    border-radius: 4px
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: red;
    font-family: 'Nova Square', cursive;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.choice-text {
    color: #fff;
    margin: 1rem;
    width: 50%;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(248, 19, 2, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}